<div class="section-header">
  <h2>Messages / <%= @business.business_name %></h2>
</div>


<div id="all-conversations">
  <% @messages.each do |message| %>
    <div id="message-body">
      <% if message.user_id == @admin.id %>
        <div id="admin-message">
        <b><%= @admin.business_name %></b> <br>
      <% elsif message.user_id == @business.id %>
        <div id="tailor-message">
        <b><%= @business.business_name %></b><br>
      <% end %>
        <%= message.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%d %b. %Y at %I:%M %p") %><br>
        <%= message.text %><br><br>
      </div>
    </div>
  <% end %>
</div>

  <div id="new-message-form">
    <%= form_for [@conversation, @message] do |f| %>
        <p>Write New Message:</p>
        <%= f.text_field :conversation_id, :value => @conversation.id, :type => 'hidden' %>
        <%= f.text_field :user_id, :value => current_user.id, :type => 'hidden' %>
        <%= f.text_field :read, :value => false, :type => 'hidden' %>
        <p><%= f.text_area :text, size: "80x15" %></p>
        <%= f.submit "Add Message", :class => "btn btn-default" %>
    <% end %>
  </div>
