<main>
<div class="section-header">
  <h2>Messages / <%= @business.business_name %></h2>
</div>


<% @business.update_attribute(:conversation, true) %>


<div class="container">
<br>
  <div id="new-message-form">
    <%= form_for [@conversation, @message] do |f| %>
        <p>Write New Message:</p>
        <%= f.text_field :conversation_id, :value => @conversation.id, :type => 'hidden' %>
        <%= f.text_field :user_id, :value => current_user.id, :type => 'hidden' %>

        <% if current_user.is_admin? %>
          <%= f.text_field :read, :value => true, :type => 'hidden' %>
          <%= f.text_field :user_read, :value => false, :type => 'hidden' %>
        <% else %>
          <%= f.text_field :read, :value => false, :type => 'hidden' %>
          <%= f.text_field :user_read, :value => true, :type => 'hidden' %>
        <% end %>

        <p><%= f.text_area :text, size: "65x10", :placeholder => 'Type message here...', :autofocus => :autofocus %></p>
        <%= f.submit "Send Message", :id => "submit-order-message" %>
    <% end %>
  </div>


<div id="all-messages">

  <% @messages.sort_by{|t| - t.created_at.to_i}.first(20).each do |message| %>

    <div id="message-body">
      <% if message.user_id == @admin.id %>
        <div id="admin-message">
        <b><%= @admin.business_name %> // </b>
      <% elsif message.user_id == @business.id %>
        <div id="tailor-message">
        <b><%= @business.business_name %> // </b>
      <% end %>

        <% if message.order_id %>
        <% @order = Order.where(shopify_id: message.order_id).first %>
          <a href="/users/<%= @business.id %>/orders/<%= @order.id %>/items"><b>Order: <%= message.order_id %> //</b></a>
        <% else %>
          general message //
        <% end %>
        <%= message.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%d %b. %Y at %I:%M %p") %><br>
        <hr>
        <%= message.text %><br><br>
      </div>
      <%# link_to "delete message", [@conversation, message], method: :delete,
                                  data: { confirm: "Are you sure?" } %>
    </div>

  <% end %>

</div>

</div>
</main>
