<main>
<!-- admin view -->
<% if current_user.is_admin? %>
  <div class="section-header">
    <h2>Manage Messages</h2>
  </div>

  <div class="container">

    <div class="order-row-header">
      <h3 class="order-column">Tailor</h3>
      <h3 class="order-column">New Messages</h3>
      <h3 class="order-column">Last Message Recieved</h3>
    </div>

  <% @users.each do |user| %>
<% user.update_attribute(:conversation, false) %>

    <div class="order-row">
      <% if user.conversation == true %>
        <% conversation = Conversation.where(recipient_id: user.id).first %>
        <a href="/conversations/<%= conversation.id %>/messages">
      <% end %>

        <div class="order-column">
          <% if user.conversation == true %>
            <p class="green"><%= user.business_name %></p>
          <% else %>
            <p class="red"><%= user.business_name %></p>
          <% end %>
        </div>

        <div class="order-column">
          <% if user.conversation == true %>
            <%= conversation.messages.where(read: false).count %>
          <% else %>
            <% conversation = Conversation.new %>
            <%= form_for conversation do |f| %>
              <%= f.number_field :user_id, :value => user.id, :type => "hidden" %>
              <%= f.text_field :recipient_id, :value => user.id, :type => "hidden" %>
              <%= f.text_field :sender_id, :value => current_user.id, :type => "hidden" %>
              <%= f.submit "Start Conversation", :id => "start_convo" %>
            <% end %>
          <% end %>
        </div>

        <div class="order-column">
          <% if user.conversation == true %>
             <%= conversation.messages.last.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%d %b. %Y at %I:%M %p") %>
          <% else %>
            n/a
          <% end %>
        </div>

        <div class="order-column">
          <button><%= link_to "Delete Conversation", conversation, method: :delete,
                                  data: { confirm: "You sure?" } %></button>
        </div>
      </a>
    </div>
  <% end %>
<!-- end of admin view -->

<% else %>

<!-- beginning of tailor view -->
  <div class="section-header">
    <h2>Messages</h2>
  </div>

  <div id="new-conversation-form">
    <h2>Communication is key.</h2>
    <p>Use this feature to communicate any questions about orders and alterations with an Air Tailor team member.</p>

    <%= form_for @conversation do |f| %>
        <%= f.number_field :user_id, :value => current_user.id, :type => "hidden" %>
        <%= f.text_field :recipient_id, :value => current_user.id, :type => 'hidden' %>
        <%= f.text_field :sender_id, :value => 1, :type => 'hidden' %>
        <%= f.submit "Click Here", :id => "start_convo" %>
    <% end %>
  </div>


<% end %>
<!-- end of tailor view -->










</div>

</main>
