<main>
<div class="section-header">
  <h2>New Orders / <%= @order.shopify_id %></h2>
</div>

<div class="container">
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<!-- begin list of new orders -->
  <div id="manage-orders">
    <h3>Manage New Orders</h3>
    <% if @orders.length == 0 %>
      No New Orders
    <% else %>
      <% @orders.order("id").each do |order| %>
        <% if order.id == @order.id %>
          <a href="/admin/order/<%=order.id%>"><p class="selected"><%= order.shopify_id %> - <%= order.name %> - $<%= order.total %></p></a>
        <% else %>
          <a href="/admin/order/<%=order.id%>"><p><%= order.shopify_id %> - <%= order.name %> - $<%= order.total %></p></a>
        <% end %>

      <% end %>
    <% end %>
  </div>
<!-- end list of new orders -->


<!-- begin order assignment area -->
<% if @order %>
  <div id="order-assignment">

    <div id="order-details">
      <h3>Order Details:</h3>
      <% pounds = (@order.weight.to_f*0.00220462).round(2) %>
      <p><b class="red">Shopify Order ID:</b> <%= @order.shopify_id %></p>
      <p><b class="red">Order Weight:</b> <%= pounds %> lbs</p>
      <p><b class="red">Order Date:</b> <%= @order.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b. %d %Y at %I:%M %p") %></p>
      <p><b class="red">Total Charges:</b> $<%= @order.total %></p>
      <p><b class="red">Notes:</b>
        <% if @order.note? %>
          <%= @order.note %>
        <% else %>
          n/a
        <% end %>
      </p>
      <p><b class="red">Alterations:</b></p>
      <% @alterations.each do |alteration| %>
        <li><%= alteration %><br></li>
      <% end %>
    </div>


    <br>


    <div id="select-tailor">
      <h3>Select Tailor:</h3>
      <% if @order.user_id == nil %>
        <form method="POST" action="/admin/order">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="order_id" value="<%= @order.id %>">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <select name="new_owner">
            <option>
              <% if @owner %>
                <%= @owner.business_name %>
              <% end %>
               - <%= @order.user_id %>
             </option>
            <% @users.each do |user| %>
              <option value="<%= user.id %>"><%= user.business_name %></option>
            <% end %>
          </select>
          <button type="submit" id="change-tailor">Submit</button><br>
        </form><br>
      <% else %>
        <form method="POST" action="/admin/order">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="order_id" value="<%= @order.id %>">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <select name="new_owner">
            <option>
              <% if @owner %><%= @owner.business_name %><% end %>
               - <%= @order.user_id %>
             </option>
            <% @users.each do |user| %>
            <option value="<%= user.id %>"><%= user.business_name %></option>
            <% end %>
          </select>
          <button type="submit" id="change-tailor">Change Tailor</button><br>
        </form><br>


    <hr>
      <% if @order.welcome == false %>
        <a href="/users/<%= @order.user_id %>/orders/<%= @order.id %>/items"><button id="go-to-order">Go to Order</button></a><br><br>
      <% end %>
  <% end %>
<% end %>
  </div>

<% if @order.inbound_label == "" %>
  Error with Inbound Label Creation. Send Manually.
<% elsif @order.inbound_label != nil && @order.inbound_label != "" %>
  Inbound Label Created and Sent!
<% end %>






<!-- begin area to deal with welcome kits -->

  <div id="welcome-kit-section">

    <% if @order.welcome == nil %>
        <% if @alterations.any? { |s| s.include?('Welcome') } %>
          <% if @order.user_id %>
            <p>This order contains a welcome kit. Is it <b>just a kit</b>? Or is it a <b>kit + order</b>?</p>

            <%= form_for [@owner, @order], {action: 'update'} do |f| %>
              <%= f.text_field :welcome, :value => 'true', :type => "hidden" %>
              <%= f.text_field :arrived, :value => 'true', :type => 'hidden' %>
              <%= f.text_field :complete, :value => 'true', :type => 'hidden' %>
              <%= f.text_field :due_date, :value => Time.current + 5.days, :type => 'hidden' %>
              <button id="kit-only" class="caps"><%= f.submit "Just Kit" %></button>
            <% end %>

            <%= form_for [@owner, @order], {action: 'update'} do |f| %>
              <%= f.text_field :welcome, :value => 'false', :type => "hidden" %>
              <button id="kit-order" class="caps"><%= f.submit "Kit + Order" %></button>
            <% end %>
          <% end %>
        <% else %>
          <% @order.update_attribute(:welcome, false) %>
        <% end %>
      <% end %>

  <% if @owner %>
    <% if @order.welcome == true && @order.complete == true && @order.shipping_label == nil %>
      <form method='post' action='/shipment/create'>
          <%= csrf_meta_tag %>
          <input name='id' value='<%= @order['shopify_id'] %>' type='hidden'>
          <button class="welcome-kit-label" class="caps">Create Shipping Label?</button>
      </form><br>
    <% end %>
  <% end %>

  <% if @order.shipping_label? %>
    <% if @order.welcome == true && @order.complete == true && @order.counter == 0 %>
      <% SendSonar.message_customer(text: "Hi " + @order.name + ", just a heads up that your Air Tailor Welcome Kit is on its way! Here's your USPS tracking number: " + @order.tracking_number + " :)", to: @customer.phone) %>
      <% flash[:welcome] = "Customer Message Sent!" %>
      <% @order.update_attribute(:counter, 2) %>
    <% end %>
    <img src="<%= @order.shipping_label %>" id="welcome-kit-label" style="display:none">
    <button id="welcome-kit-button">Click Here for Shipping Label</button><br><br>
  <% end %>
<!-- end area to deal with welcome kits -->
  </div>
<!-- end order assignment area -->


</div>

<div id="customer-details">
      <h3>Customer Details:</h3>
      <% fullname = @customer.first_name + " " + @customer.last_name %>
      <p><b class="red">Name:</b> <%= fullname %></p>
      <p><b class="red">Email:</b> <%= @customer.email %></p>
      <p><b class="red">Phone:</b> <%= @customer.phone %></p>
      <p><b class="red">Address:</b>
        <%= @customer.address1 %>, <%= @customer.address2 %><br>
        <%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %>
      </p>

      <button id="edit-customer"><a href="/customers/<%= @customer.id %>/edit">Edit Customer</a></button><br>
    </div>
</div>

<!-- end container div -->
<br><br><br><br>
</main>
