<main>
  <div class="section-header">
    <h2>Admin Home</h2>
  </div>

  <div class="container">

    <div class="admin-welcome">
      <h2>Greetings Master</h2>
      <p>Whatchu Wanna Do?</p>
    </div>

    <div id="admin-manage-area">

      <div id="admin-orders">
        <a href="/orders/new_orders"><button class="caps">Manage<br> New Orders</button></a><br><br>
        <%= @orders.count %> unassigned orders
      </div>

      <div id="admin-messages">
        <a href="/conversations"><button class="caps">Manage<br> Messages</button></a><br><br>
        <%= @messages.count-3 %> unread messages
      </div>

      <div id="minions">
        <a href="/users"><button class="caps">Manage<br> Tailors</button></a>
      </div>

    </div>

    <br>
    <br>

    <div id="dashboard">

      <b>Orders placed this month:</b> <%= @this_month.count %><br>
      <b>Revenue this month:</b> $<%= "%.2f" % @this_month_rev %><br>
      <b>Estimated profit:</b> $<%= "%.2f" % @current_estimated_profit %><br>
      <br>

      <b>Orders placed last month:</b> <%= @last_month.count %><br>
      <b>Revenue last month:</b> $<%= "%.2f" % @last_month_rev %><br>
      <b>Estimated profit:</b> $<%= "%.2f" % @previous_estimated_profit %><br>

    </div>






  </div>
</main>






