<main>
  <div class="section-header">
    <h2>Admin Home</h2>
  </div>

  <div class="container">

    <div class="admin-welcome">
      <h2>Greetings Master</h2>
      <p>Whatchu Wanna Do?</p>
    </div>

    <div id="admin-manage-area">

      <div id="admin-orders">
        <a href="/orders/new_orders"><button class="caps">Manage<br> New Orders</button></a><br><br>
        <%= @orders.count %> unassigned orders
      </div>

      <div id="admin-messages">
        <a href="/conversations"><button class="caps">Manage<br> Messages</button></a><br><br>
        <%= @messages.count-3 %> unread messages
      </div>

      <div id="minions">
        <a href="/users"><button class="caps">Manage<br> Tailors</button></a>
      </div>

    </div>

    <br>

    <br>

    <div id="dashboard">
    <hr>
    <h1>Dashboard</h1>
    <span id="all-button">All Stats</span>
    <span id="this-week-button">This Week</span>
    <span id="last-week-button">Last Week</span>
    <span id="this-month-button">This Month</span>
    <span id="last-month-button">Last Month</span>
    <br><br>

      <div id="this-week" class="dashboard-row">

        <div class="dashboard-column">
          <h3>Welcome Kits sent this week:</h3><br>
          <p><%= @this_week_kits.count %></p>
        </div>

        <div class="dashboard-column">
          <h3>Orders placed this week:</h3><br>
          <p><%= @this_week.count %></p>
        </div>

        <div class="dashboard-column">
          <h3>Revenue this week:</h3><br>
          <p>$<%= "%.2f" % @this_week_rev %></p>
        </div>

        <div class="dashboard-column">
          <h3>Rev / order this week:</h3><br>
          <% if @this_week_rev_per_order = nil %>
            <p><%= 0 %></p>
          <% else %>
            <p>$<%= "%.2f" % @this_week_rev_per_order %></p>
          <% end %>
        </div>

        <div class="dashboard-column">
          <h3>Estimated profit:</h3><br>
          <p>$<%= "%.2f" % @current_week_profit %></p>
        </div>
      </div>
      <!-- end of row 1 -->

      <div id="last-week" class="dashboard-row">

        <div class="dashboard-column">
          <h3>Welcome Kits sent last week:</h3><br>
          <p><%= @last_week_kits.count %></p>
        </div>

        <div class="dashboard-column">
          <h3>Orders placed last week:</h3><br>
          <p><%= @last_week.count %></p>
        </div>

        <div class="dashboard-column">
          <h3>Revenue last week:</h3><br>
          <p>$<%= "%.2f" % @last_week_rev %></p>
        </div>

        <div class="dashboard-column">
          <h3>Rev / order last week:</h3><br>
          <% if @last_week_rev_per_order = nil %>
            <p><%= 0 %></p>
          <% else %>
            <p>$<%= "%.2f" % @last_week_rev_per_order %></p>
          <% end %>
        </div>

        <div class="dashboard-column">
          <h3>Estimated profit:</h3><br>
          <p>$<%= "%.2f" % @previous_week_profit %></p>
        </div>
      </div>

      <!-- end of row 2 -->

      <div id="this-month" class="dashboard-row">

        <div class="dashboard-column">
          <h3>Welcome Kits sent this month:</h3><br>
          <p><%= @this_month_kits.count %></p>
        </div>

        <div class="dashboard-column">
          <h3>Orders placed this month:</h3><br>
          <p><%= @this_month.count %></p>
        </div>

        <div class="dashboard-column">
          <h3>Revenue this month:</h3><br>
          <p>$<%= "%.2f" % @this_month_rev %></p>
        </div>

        <div class="dashboard-column">
          <h3>Rev / order this month:</h3><br>
          <% if @this_month_rev_per_order = nil %>
            <p><%= 0 %></p>
          <% else %>
            <p>$<%= "%.2f" % @this_month_rev_per_order %></p>
          <% end %>
        </div>

        <div class="dashboard-column">
          <h3>Estimated profit:</h3><br>
          <p>$<%= "%.2f" % @current_estimated_profit %></p>
        </div>
      </div>
      <!-- end of row 3 -->

      <div id="last-month" class="dashboard-row">

        <div class="dashboard-column">
          <h3>Welcome Kits sent last month:</h3><br>
          <p><%= @last_month_kits.count %></p>
        </div>

        <div class="dashboard-column">
          <h3>Orders placed last month:</h3><br>
          <p><%= @last_month.count %></p>
        </div>

        <div class="dashboard-column">
          <h3>Revenue last month:</h3><br>
          <p>$<%= "%.2f" % @last_month_rev %></p>
        </div>

        <div class="dashboard-column">
          <h3>Rev / order last month:</h3><br>
          <% if @last_month_rev_per_order = nil %>
            <p><%= 0 %></p>
          <% else %>
            <p>$<%= "%.2f" % @last_month_rev_per_order %></p>
          <% end %>
        </div>

        <div class="dashboard-column">
          <h3>Estimated profit:</h3><br>
          <p>$<%= "%.2f" % @previous_estimated_profit %></p>
        </div>
      </div>
      <!-- end of row 4 -->

    </div>
    <!-- end of dashboard -->






  </div>
</main>






