<div class="section-header">
  <h2>Admin Order Assignment Page // #<%= @order.shopify_id %></h2>
</div>

<div class="container">

<div id="order-assignment">
  <p><b class="caps">Order:</b></p>
  <p>Customer: <%= @order.name %></p>
  <p>Total Charges: $<%= @order.total %></p>
  <p>Shopify Order ID: <%= @order.shopify_id %></p>
  <p>Order Date: <%= @order.created_at %></p>
  <br>
  Alterations:<br>
  <% @alterations.each do |alteration| %>
    <li><%= alteration %><br></li>
  <% end %>

  <br>

  <form method="POST" action="/admin/order">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="order_id" value="<%= @order.id %>">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <select name="new_owner">
        <option>
          <% if @owner %><%= @owner.business_name %><% end %>
           - <%= @order.user_id %>
         </option>
        <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.business_name %></option>
        <% end %>
      </select>
      <button type="submit">Submit</button><br><br><br>
  </form>


<button><a href="/admin">Home</a></button>

<% if @next <= Order.all.length %>
  <button id="next-order"><a href="/admin/order/<%= @next %>">Next Order</a>&rarr;</button>
<% end %>

</div>
</div>
