<main>

<div class="section-header">
  <h2>Manage Tailors</h2>
</div>

<div class="container">

<div class="order-row-header">
    <h3 class="tailor-order-column">Tailor Shop</h3>
    <center><h3 class="tailor-order-column">Assigned</h3></center>
    <center><h3 class="tailor-order-column">In Stock</h3></center>
    <center><h3 class="tailor-order-column">Late</h3></center>
    <center><h3 class="tailor-order-column">Account / Edit</h3></center>
  </div>

  <% @users.each do |user| %>
    <div class="order-row">
    <a href="/users/<%= user.id %>">

      <div class="tailor-order-column">
        <%= user.business_name %> <%= user.id %>
      </div>

      <div class="tailor-order-column">
        <center><%= user.orders.where(complete: nil).count %></center>
      </div>

      <div class="tailor-order-column">
        <center><%= user.orders.where(complete: nil, arrived: true).count %></center>
      </div>

      <div class="tailor-order-column red">
        <% @counter = 0 %>
        <% user.orders.where(complete: nil).each do |order| %>
          <% if order.due_date %>
            <% if ((((order.due_date - Time.current).to_f)/86400).round) < 0 %>
              <% @counter = @counter + 1 %>
            <% end %>
          <% end %>
        <% end %>
        <center><%= @counter %></center>
      </div>

      <center><div class="tailor-order-column">
        <a id="edit-tailor" href="/users/<%= user.id %>/edit">edit</a>
      </div></center>
    </a>
    </div>
  <% end %>

    <div class="order-row">
      <div class="tailor-order-column">
        <%= link_to "Add Tailor", "users/new", :id => "edit-tailor" %>
      </div>
    </div>


</div>
</main>

