<main>

<div class="section-header">
  <h2>Manage Tailors</h2>
</div>

<div class="container">

<div class="order-row-header">
    <h3 class="order-column">Tailor</h3>
    <h3 class="order-column">Current Orders</h3>
    <h3 class="order-column">Late Orders</h3>
    <h3 class="order-column">Account / Edit</h3>
  </div>

  <% @users.each do |user| %>
    <div class="order-row">
    <a href="/users/<%= user.id %>">
      <div class="order-column">
        <%= user.business_name %>
      </div>
      <div class="order-column">
        <%= user.orders.where(complete: nil).count %>
      </div>
      <div class="order-column red">
        <%= @counter %>
      </div>
      <div class="order-column">
        <a id="edit-tailor" href="/users/<%= user.id %>/edit">edit</a>
      </div>
    </a>
    </div>
  <% end %>

    <div class="order-row">
      <div class="order-column">
        <%= link_to "Add Tailor", "users/new", :id => "edit-tailor" %>
      </div>
    </div>


</div>
</main>

