<main class="">
<!-- Tailor Show Page -->
<div class="section-header">
    <h2>Home / <%= @user.business_name %></h2>
</div>



<div class="container">

  <div id="tailor-show-greeting">
    <h2>Greetings, <%= @user.business_name %>.</h2>
    <p>Here's what's happening with your shop right now.</p>
  </div>

  <div id="tailor-show-boxes">
  <a href="/conversations">
    <div id="tailor-show-message-box" class="tailor-show-box">
      <img src="/assets/message.png" alt="">
      <% if @conversation %>
        <p class="tailor-show-number"><%= @conversation.messages.where(user_read: false).count %></p>
        <p class="caps">unread<br>messages</p>
        <p><span class="caps">Read &gt;</span></p>
      <% else %>
        <p class="tailor-show-number">0</p><p class="caps">unread<br>messages</p>
        <p><span class="caps">Get Started &gt;</span></p>
      <% end %>
    </div>
    </a>

    <a href="/users/<%= @user.id %>/orders">
    <div id="tailor-show-order-box" class="tailor-show-box">
      <img src="/assets/orders.png" alt="">
      <p class="tailor-show-number"><%= @orders.count %></p>
      <p class="caps">Current<br>orders</p>
      <p><span class="caps">view &gt;</span></p>
    </div>
    </a>

    <a href="/users/<%= @user.id %>/orders">
    <div id="tailor-show-late-box" class="tailor-show-box">
      <span id="tailor-show-late-exclamation">!</span>
      <p class="tailor-show-number"><%= @counter %></p>
      <% if @counter == 1 %>
        <p class="caps">Late<br>Order</p>
      <% else %>
        <p class="caps">Late<br>Orders</p>
      <% end %>
      <p><span class="caps">Fulfill &gt;</span></p>
    </div>
    </a>
  </div>



</div>
</main>
