<div class="section-header">
  <h2>Orders / Archive </h2>
</div>

<div class="container">

<% if current_user.is_admin? %>
<main>
<div class="order-row-header">
  <h3 class="order-column">ID #</h3>
  <h3 class="order-column">Date Fulfilled</h3>
  <h3 class="order-column">Tailor</h3>
  <h3 class="order-column"># of alterations</h3>
</div>

      <% @orders.order("updated_at").reverse_order.each_with_index do |order, index| %>
      <% @user = @users.where(id: order.user_id).first %>
            <% if @user %>

        <div class="order-row">
        <a class="order-row-link" href="/users/<%= order.user_id %>/orders/<%= order.id %>/items">
          <div id="order-id" class="order-column">
            <%= order.shopify_id %>
          </div>

          <div id="order-status" class="order-column">
            <%= order.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%d %b. %Y") %>
          </div>

          <div id="order-customer" class="order-column">
              <%= @user.business_name %>
          </div>

          <div id="order-quantity" class="order-column">
            <%= @alts[index].length %>
          </div>
          </a>
        </div>
        <% end %>
      <% end %>
<% else %>

  <div class="order-row-header">
    <h3 class="order-column">Order ID #</h3>
    <h3 class="order-column">Date Fulfilled</h3>
    <h3 class="order-column">Customer Name</h3>
    <h3 class="order-column">Shipping Label</h3>
  </div>

  <% @orders.order("updated_at").reverse_order.each_with_index do |order, index| %>
  <div class="order-row">
        <a class="order-row-link" href="/users/<%= order.user_id %>/orders/<%= order.id %>/items">
          <div id="order-id" class="order-column">
            <%= order.shopify_id %>
          </div>

          <div class="order-column">
            <%= order.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%d %b. %Y") %>
          </div>

          <div class="order-column">
            <%= order.name %>
          </div>

          <div class="order-column">
          <% if order.shipping_label %>
            <a id="edit-tailor" href="<%= order.shipping_label %>" target="_blank">Label</a>
          <% else %>
          no label
          <% end %>
          </div>
          </a>
        </div>
      <% end %>

<% end %>
</div>
<br><br><br><br>
</main>
