<main>
  <div class="section-header">
      <h2>Edit Order</h2>
  </div>


  <div class="container">


    <div id="edit-user-form" class="customer-edit">
        <a class="underline blue" href="/users/<%= @order.user_id.to_s %>/orders/<%= @order.id.to_s %>/items">&lt; Back</a>
        <%= form_for [@user, @order], url: {action: 'update'} do |f| %>
            <p>Name:</p> <%= f.text_field :name %>
            <p>Alterations:</p> <%= f.text_field :alterations %>
            <p>Total: $<%= f.text_field :total %></p>
            <p>Note:</p> <%= f.text_field :note %>
            <p>Tailor Shop:</p>

            <%= f.select(:user_id) do %>
              <option value="<%= @user.id %>"><%= @user.business_name %></option>
              <% @users.each do |user| %>
                <option value="<%= user.id %>"><%= user.business_name %></option>
              <% end %>
              <option value="">Return to Routing Page</option>
            <% end %>
            <p>Created At:</p> <%= @order.created_at.in_time_zone('Eastern Time (US & Canada)') %><br>
            <p>Arrived?:</p> <%= f.text_field :arrived %>
            <p>Completed?:</p> <%= f.text_field :complete %>
            <p>Counter:</p> <%= f.text_field :counter %>
            <p>Welcome:</p> <%= f.text_field :welcome %>
        <%= f.submit "Update", data: { confirm: "You sure?" } %>

      <% end %>

    </div>
  </div>
</main>


