<main>
<div class="section-header">
  <h2>Orders / <%= @user.business_name %> </h2>
<!--   <div id="switch-tailor">
    <a href="#">&larr; Previous Tailor</a>
    <a href="">Next Tailor &rarr;</a>
  </div> -->
</div>

<div class="container">

<div class="order-row-header">
  <h3 class="order-column">ID #</h3>
  <h3 class="order-column">Status</h3>
  <h3 class="order-column">Customer</h3>
  <h3 class="order-column"># of alterations</h3>
</div>

  <% if @orders.count < 1 %>
    <div class="order-row">
      <div class="order-column">
        No orders currently assigned
      </div>
    </div>
  <% end %>

      <% @orders.order("due_date").each_with_index do |order, index| %>



        <div class="order-row">
        <a class="order-row-link" href="/users/<%= order.user_id %>/orders/<%= order.id %>/items">
          <div id="order-id" class="order-column">
            <% if @orders.count < 1 %>
              No orders currently assigned
            <% else %>
              <%= order.shopify_id %>
            <% end %>
          </div>

          <div id="order-status" class="order-column">
            <% if order.due_date %>
              <% status = (((order.due_date-Time.current).to_f)/86400).round %>
              <% if status == 0 %>
                <span class="red">Due today</span>
              <% elsif status < 0 %>
                <span class="red"><%= status.abs %> days late</span>
              <% else %>
                <span class="orange"><%= status %> days to go</span>
              <% end %>
            <% else %>
              <span class="green">On the way</span>
            <% end %>
          </div>

          <div id="order-customer" class="order-column">
            <%= order.name %>
          </div>

          <div id="order-quantity" class="order-column">
            <%= @alts[index].length %>
          </div>
          </a>
        </div>
      <% end %>




</div>
<br><br><br><br>
</main>
