<div class="section-header">
  <h2>Orders</h2>
</div>

<div id="order-columns">
  <div id="id-column" class="order-column">
  <h3>Order #</h3>
      <% @orders.each do |order| %>
        <button><a href="/users/<%= order.user_id %>/orders/<%= order.id %>/items">#<%= order.shopify_id %></a></button><br><br>
      <% end %>
  </div>

  <div id="id-column" class="order-column">
  <h3>Status</h3>
    <% @orders.each do |order| %>
      <% if order.due_date %>
        <% status = (((order.due_date-Time.current).to_f)/86400).round %>
        <% if status == 0 %>
          <span class="red">Due today</span><br><br>
        <% elsif status < 0 %>
          <span class="red"><%= status.abs %> days late</span><br><br>
        <% else %>
          <span class="orange"><%= status %> days to go</span><br><br>
        <% end %>
      <% else %>
        <span class="green">On the way</span><br><br>
      <% end %>
    <% end %>

  </div>

  <div id="customer-column" class="order-column">
  <h3>Customer</h3>
      <% @orders.each do |order| %>
        <%= order.name %><br><br>
      <% end %>
  </div>

  <div id="description-column" class="order-column">
  <h3>Quantity</h3>
      <% @alts.each do |alt| %>
        <%= alt.length %><br><br>
      <% end %>
  </div>

</div>
