<main>

<div class="section-header order-show">
  <h2>Orders / <a href="/users/<%= @user.id%>/orders"><%= @user.business_name %></a> / <%= @order.shopify_id %></h2>

  <% if current_user.is_admin? %>
    customer: <a href="/customers/<%= @customer.id %>/edit"><%= @customer.first_name + " " + @customer.last_name %></a>
    <%= link_to " / delete order", [@user, @order], method: :delete,
                                  data: { confirm: "Are you sure?" } %>

  <% else %>
    customer: <%= @customer.first_name + " " + @customer.last_name %>
  <% end %>
</div>


<div class="container">

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<!-- begin item info section -->
<div id="item-section">
  <!-- begin lists of item alterations -->
  <div id="item-alteration-lists">
    <img id="instructions-logo" src="/assets/logo.png" alt="Air Tailor" style="display:none">
    <h2 id="instructions-header" style="display:none">Alterations for Order <span><%= @order.shopify_id %></span>:</h2>

    <% if @items.any? { |s| s.include?('Pants') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="pants" src="/assets/pants.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Pants</h3>
          <% @items.each do |item| %>
            <% if item.include? "Pants" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Shirt') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="shirt" src="/assets/shirt.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Shirts</h3>
          <% @items.each do |item| %>
            <% if item.include? "Shirt" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Dress') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="dress" src="/assets/dress.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Dresses</h3>
          <% @items.each do |item| %>
            <% if item.include? "Dress" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Coat') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="coat" src="/assets/winter-coat.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Coats</h3>
          <% @items.each do |item| %>
            <% if item.include? "Coat" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Skirt') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="skirt" src="/assets/skirt.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Skirts</h3>
          <% @items.each do |item| %>
            <% if item.include? "Skirt" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Vest') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="vest" src="/assets/shirt.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Vests</h3>
          <% @items.each do |item| %>
            <% if item.include? "Vest" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Suit') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="suit" src="/assets/shirt.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Suits</h3>
          <% @items.each do |item| %>
            <% if item.include? "Suit" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Sweater') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="sweater" src="/assets/fleece-jacket.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Sweaters</h3>
          <% @items.each do |item| %>
            <% if item.include? "Sweater" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Tie') || s.include?('Necktie') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="tie" src="/assets/tie.png" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Ties</h3>
          <% @items.each do |item| %>
            <% if item.include? "Tie" %>
              <li><%= item %></li>
            <% elsif item.include? "Necktie" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <% if @items.any? { |s| s.include?('Welcome') } %>
      <div class="alteration-list">
        <div class="alterations-image">
          <img id="welcome" src="/assets/welcome.jpg" alt="">
        </div>
        <div class="alterations-text">
          <h3 class="caps">Welcome Kit</h3>
          <% @items.each do |item| %>
            <% if item.include? "Welcome" %>
              <li><%= item %></li>
            <% end %>
          <% end %><br>
        </div>
      </div>
    <% end %>

    <h3 class="notes-header">Order Notes:</h3>
    <% if @order.note? %>
      <p class="order-notes"><%= @order.note %></p>
    <% else %>
      <p class="order-notes">n/a</p>
    <% end %>
    <br>

    <h3 class="notes-header">Tailor Notes:</h3>
    <% if @order.tailor_notes.blank? %>
      n/a <br><br>
    <% else %>
      <%= @order.tailor_notes %> <br><br>
    <% end %>
  </div>

    <button id="add-notes">Add Notes?</button>
<br><br>
    <div id="tailor-notes-form">
      <%= form_for [@user, @order], {action: 'update'} do |f| %>
        <%= f.text_area :tailor_notes, size: "60x10", :placeholder => 'Type notes here...' %><br>
        <button id="save-notes"><%= f.submit "Save" %></button>
      <% end %><br>
    </div>


    <br>

  <!-- end lists of item alterations -->
<button id="print-instructions" class="order-button">Print Instructions</button>

<% if current_user.is_admin? %>
  <button class="order-button"><a href="/users/<%= @order.user_id %>/orders/<%= @order.id %>/edit">Edit Order</a></button><br>
<% end %>

<br>
<hr>

  <!-- begin message section -->
  <div id="order-message-section">
  <% if @user.conversation == true %>
    <h4>Ask a question about this order</h4>
    <div id="order-new-message-form">
      <%= form_for [@conversation, @message] do |f| %>
          <%= f.text_field :conversation_id, :value => @conversation.id, :type => 'hidden' %>
          <%= f.text_field :user_id, :value => current_user.id, :type => 'hidden' %>
          <%= f.text_field :order_id, :value => @order.shopify_id, :type => 'hidden' %>

          <% if current_user.is_admin? %>
            <%= f.text_field :read, :value => true, :type => 'hidden' %>
            <%= f.text_field :user_read, :value => false, :type => 'hidden' %>
          <% else %>
            <%= f.text_field :read, :value => false, :type => 'hidden' %>
            <%= f.text_field :user_read, :value => true, :type => 'hidden' %>
          <% end %>

          <p><%= f.text_area :text, size: "60x10", :placeholder => 'Type message here...' %></p>
          <button id="submit-order-message"><%= f.submit "Send Message" %></button>
      <% end %>
    </div>
  <% else %>
    <p>Have a question about this order? Click below to message Air Tailor.</p>
    <a id="edit-tailor" href="/conversations">Get Started</a>
  <% end %>

  </div>
<!-- end message section -->

  <div id="order-completed">

    <% if @order.arrived == nil %>
      <%= form_for [@user, @order], {action: 'update'} do |f| %>
        <%= f.text_field :arrived, :value => 'true', :type => 'hidden' %>
        <%= f.text_field :arrival_date, :value => Time.current, :type => 'hidden' %>
        <%= f.text_field :due_date, :value => Time.current + 5.days, :type => 'hidden' %>
        <button id="check-garment" class="caps" onclick="return confirm('Order has arrived?');"><%= f.submit "Check Order In"%></button>
      <% end %>
    <% end %>

    <% if @order.arrived == true && @order.complete == nil %>

      <form method='post' action='/shipment/create'>
        <%= csrf_meta_tag %>
        <input name='id' value='<%= @order['shopify_id'] %>' type='hidden'>
        <button id="fulfill-order" onclick="return confirm('Order is 100% complete?');">
          Fulfill This Order
        </button>
      </form>
    <% end %>

    <% if @order.complete == true %>
      <button id="packing-slip-btn">Packing Slip &amp; Shipping Label</button><br><br>

      <% if current_user.is_admin? %>
        <form method='post' action='/shipment/create'>
          <%= csrf_meta_tag %>
          <input name='id' value='<%= @order['shopify_id'] %>' type='hidden'>
          <button id="fulfill-order" onclick="return confirm('Order is 100% complete?');">
            Remake Shipping Label
          </button>
        </form>
      <% end %>

    <% end %>
  </div>


<div id="packing-slip-info" style="display:none">
  <img id="packing-slip-label" src="<%= @order.shipping_label %>">
    <div id="packing-slip">
      <h2>Thank you for your Air Tailor order, <%= @customer.first_name.capitalize %></h2>
      <p>We hope everything arrived exactly as you expected and that you are pleased with our work. If you have any questions or would like to alter/repair more clothing using Air Tailor, please text us or email hello@airtailor.com. We look forward to serving you again soon, <%= @customer.first_name.capitalize %>!</p>
      <p id="packing-slip-info-shopify">Order: <%= @order.shopify_id %></p>
      <ul id="packing-slip-info-alt">
        <% @alterations.each do |alteration| %>
          <li><%= alteration %></li>
        <% end %>
      </ul>
      <img id="packing-slip-info-img" src="/assets/logo" alt="air tailor logo" id="logo">
    </div>
  </div>
<!-- end packing slip -->
</div>
<!-- end item info section -->
<!-- packing slip -->



<!-- begin customer measurments section -->
<div id="customer-measurements">
  <h3>Customer Measurements</h3>
  <button id="measurements-front">Front</button>
  <button id="measurements-back">Back</button>
  <button id="measurements-edit">Edit</button>

<!-- images of clothes -->
  <img id="clothes-front-image" src="/assets/clothes-front-red.png" alt="">
  <img id="clothes-back-image" src="/assets/clothes-back-red.png" alt="">
<!-- end -->

<!-- divs showing customer's current measurements -->
  <div class="clothes-front measurement sleeve-length"><%= @measurement.sleeve_length %>"</div>

  <div class="clothes-front measurement shoulder-to-waist"><%= @measurement.shoulder_to_waist %>"</div>

  <div class="clothes-front measurement chest-bust"><%= @measurement.chest_bust %>"</div>

  <div class="clothes-front measurement upper-torso"><%= @measurement.upper_torso %>"</div>

  <div class="clothes-front measurement waist"><%= @measurement.waist %>"</div>

  <div class="clothes-front measurement pant-length"><%= @measurement.pant_length %>"</div>

  <div class="clothes-front measurement hips"><%= @measurement.hips %>"</div>

  <div class="clothes-front measurement thigh"><%= @measurement.thigh %>"</div>

  <div class="clothes-front measurement knee"><%= @measurement.knee %>"</div>

  <div class="clothes-front measurement calf"><%= @measurement.calf %>"</div>

  <div class="clothes-front measurement ankle"><%= @measurement.ankle %>"</div>

  <div class="clothes-back measurement back-width"><%= @measurement.back_width %>"</div>

  <div class="clothes-back measurement bicep"><%= @measurement.bicep %>"</div>

  <div class="clothes-back measurement elbow"><%= @measurement.elbow %>"</div>

  <div class="clothes-back measurement forearm"><%= @measurement.forearm %>"</div>

  <div class="clothes-back measurement inseam"><%= @measurement.inseam %>"</div>
<!-- end of measurement divs -->

<!-- form to update customer's measurements -->
  <%= form_for @measurement, {action: 'update'} do |f| %>
        <%= f.text_field :customer_name, :type => 'hidden' %>
        <%= f.number_field :sleeve_length, :class => 'clothes-front measurement sleeve-length', step: :any %>
        <%= f.number_field :shoulder_to_waist, :class => 'clothes-front measurement shoulder-to-waist', step: :any %>
        <%= f.number_field :chest_bust, :class => 'clothes-front measurement chest-bust', step: :any %>
        <%= f.number_field :upper_torso, :class => 'clothes-front measurement upper-torso', step: :any %>
        <%= f.number_field :waist, :class => 'clothes-front measurement waist', step: :any %>
        <%= f.number_field :pant_length, :class => 'clothes-front measurement pant-length', step: :any %>
        <%= f.number_field :hips, :class => 'clothes-front measurement hips', step: :any %>
        <%= f.number_field :thigh, :class => 'clothes-front measurement thigh', step: :any %>
        <%= f.number_field :knee, :class => 'clothes-front measurement knee', step: :any %>
        <%= f.number_field :calf, :class => 'clothes-front measurement calf', step: :any %>
        <%= f.number_field :ankle, :class => 'clothes-front measurement ankle', step: :any %>
        <%= f.number_field :back_width, :class => 'clothes-back measurement back-width', step: :any %>
        <%= f.number_field :bicep, :class => 'clothes-back measurement bicep', step: :any %>
        <%= f.number_field :elbow, :class => 'clothes-back measurement elbow', step: :any %>
        <%= f.number_field :forearm, :class => 'clothes-back measurement forearm', step: :any %>
        <%= f.number_field :inseam, :class => 'clothes-back measurement inseam', step: :any %>
    <button id="measurements-save"><%= f.submit "Save" %></button>
  <% end %>
<!-- end of measurements form -->
</div>
<!-- end of customer measurements section -->

</div>

</div>

</main>




