<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @customer.first_name %>,</p>

    <p>Thanks for your Air Tailor order! Here's instructions on getting your clothes to us:</p>
    <ol>
    <li>Print the attached PDF. It contains a packing slip and pre-paid United States Postal Service shipping label</li>
    <li>Cut it in half and put the packing slip in with your order</li>
    <li>Tape the label to the package and ship via USPS within 10 days</li>
    </ol>
    <p>The delivery can be tracked here: <a href="<%= @order.tracker %>" target="_blank"><%= @order.tracker %></a></p>

    <p>We are so excited to serve you! If you have any questions, please text or call us at (917) 521-5970.</p>

    <p>Thanks <%= @customer.first_name %>!</p>

    <p>Best,</p>
    <p>Air Tailor<br>
    http://www.airtailor.com</p>
    <br>
    <hr>
    <br>

    <p>Please note that Air Tailor is not responsible for lost, stolen or damaged shipments. The attached pre-paid USPS label is complimentary and provided for your convenience but does not include insurance. If you would prefer to pay for your own shipping, please include your order number (<%= @order.shopify_id %>) and send to the following address:</p>

    <p>Air Tailor (Incoming)<br>
    <%= @owner.street %><br>
    <% if @owner.unit != "" %>
        <%= @owner.unit %><br>
    <% end %>
    <%= @owner.city %>, <%= @owner.state %> <%= @owner.zip %><br>
    Phone: (888) 983-1683</p>

  </body>
</html>
