<!DOCTYPE html>
<html>
<head>
  <title>AirTailorPortal</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <aside>
    <% if current_user %>
    <a href="/admin"><img src="/assets/logo" alt="air tailor logo" id="logo"></a><br><br>
    <nav>
      <ul>
        <% if current_user.is_admin? %>
          <li><a href="/admin">Home</a></li>
          <li><a href="/users">Tailors</a></li>
          <li><a href="/conversations">Messages</a></li>
          <li><a href="/archive">Order Archive</a></li>
          <li><a href="/users/<%= current_user.id %>/edit">Account</a></li>
          <li><a href="https://airtailor.zendesk.com/hc/en-us" target="blank">Help</a></li>
          <li><%= link_to "Logout", '/logout' %></li>
        <% else %>
          <li><a href="/users/<%= current_user.id %>">Home</a></li>
          <li><a href="/users/<%= current_user.id %>/orders">Orders</a></li>
          <li><a href="/conversations">Messages</a></li>
          <li><a href="/users/<%= current_user.id %>/edit">Account</a></li>
          <li><a href="https://airtailor.zendesk.com/hc/en-us" target="blank">Help</a></li>
          <li><%= link_to "Logout", '/logout' %></li>
        <% end %>
      </ul>
    </nav>
      <br>
      <p>Shop: <%= current_user.business_name %></p>
      <p>User: <%= current_user.user_name %></p>
    <% end %>

  </aside>

  <main>

<%= yield %>

  </main>


</body>
</html>
